@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #14141a;
  color: #fff;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title{
    font-size: 40px;
    margin-bottom: 40px;
}

.title{
    font-size: 36px;
    margin-bottom: 40px;
}

.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image-container{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image-container img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-container{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}
  
.content .text-container h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.icons-container{
    margin-top: 100px;
}

.icons-container a{
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

#section-two .title{
    margin-bottom: 80px;
}

#section-two .content .plain-text-container{
    width: 700px;
    margin-left: 50px;
}

#section-three{
    margin-bottom: 100px;
}

#section-three .icons-container{
    width: 500px;
    margin-left: 50px;
    margin-top: -15px;
}

#section-three .icons-container li{
    list-style: none;
    font-size: 10px;
}

#section-three .icons-container li a{
    text-decoration: none;
}

#section-three .icons-container li:not(:last-child){
    margin-bottom: 50px;
}

#section-three .icons-container li:nth-child(1), #section-three .icons-container li:nth-child(5){
    padding-left: 50px;
    
}

#section-three .icons-container li:nth-child(2), #section-three .icons-container li:nth-child(4){
    padding-left: 100px;
}

#section-three .icons-container li:nth-child(3){
    padding-left: 210px;
}




